/* Event Management System */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    border: 1px solid black;
    padding: 1%;
    width: 80%;
    margin: auto;
    border: 1px;
}

.text-center{
    text-align: center;
}

.menu{
    text-align: end;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: darkblue;
}

.menu ul li a:hover{
    text-decoration: underline;
}

.main-content{
    background-color: #e6e7e8;
    height: 90%;
}

.footer{
    background-color: rgb(246, 246, 248);
}
.footer p{
    color: rgb(152, 151, 151);
}