@keyframes popUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/* Popup error styling */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px; /* Reduced width */
  background-color: #0d7e18;
  color: white;
  padding: 5px; /* Reduced padding */
  border-radius: 8px; /* Slightly smaller border radius */
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
  font-family: sans-serif;
}

/* Icon styling */
.popup ion-icon {
  font-size: 24px; /* Slightly smaller icon */
  color: white;
  margin-bottom: 5px; /* Less space between icon and message */
  animation: popUp  1.5s infinite; /* popup animation for 0.6 seconds */
}

/* Error message styling */
.popup p {
  font-size: 14px; /* Smaller text size */
  margin: 5px 0; /* Reduce margin to decrease height */
  line-height: 1.2; /* Tighter line spacing */
}

/* Countdown styling */
#countdown {
  font-size: 12px; /* Smaller countdown text */
}

/* Optional: Style the overall popup container if needed */
.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
}