* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.dash-container {
    display: flex;
    margin: 0px auto;
    padding: 40px;
    gap: 2rem;
}
/* /* Content */
/* .dashboard {
    width: 100%;
    max-width: 2000px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */


.content {
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
  }
  .events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left; /* Center align cards */
    gap: 25px; /* Add space between cards */
    margin: 15px 0;
}

.event-card {
    position: relative;
    flex: 1 1 300px; /* Set a fixed width for each card */
    max-width: 300px;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    text-align: center;
}
.event-card-link {
    text-decoration: none;
    color: inherit; /* Ensure text color does not change on hover */
    display: block; /* Makes the entire card clickable */
}

/*.event-card-link:hover .event-card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Adds hover effect for the card */
    /* transform: scale(1.02); Slightly enlarges the card */
    /* transition: all 0.3s ease; Smooth hover transition */
/* } */


.event-card img {
    width: 100%;
    height: 150px; /* Set a fixed height for the image */
    border-radius: 4px;
    object-fit: cover;
    margin-bottom: 10px;
}

.event-status-process, .event-status-scheduled, .event-status-completed {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: white;
}

.event-status-process {
    background-color: #00aaff;
}

.event-status-scheduled {
    background-color: green;
}

.event-status-completed {
    background-color: yellow;
    color: black;
}

.event-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.two-line-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;
    max-height: 2.8em; /* 1.4em * 2 lines */
}