/* Sidebar */
.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  padding-top: 20px;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  border-radius: 5px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border-radius: 5px;
}

.sidebar-menu li {
  width: 100%;
  border-radius: 5px;
}

.sidebar-menu li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  text-align: center;
  font-weight: bold;
  margin-top: 2%;
}

.sidebar-menu li a.active,
.sidebar-menu li a:hover {
  background-color: #00BDD6FF;
  color: #fff;
}

/* Content */
.content {
  margin-left: 220px;
  padding: 20px;
  font-family: sa
}

/* Search Bar */
.search-bar {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Singers Section */
.singers-section {
  margin-top: 20px;
}

.singers-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.singers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.singer-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.singer-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.singer-card h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.singer-card p {
  color: #666;
}
